.card {
  display: flex;
  background: rgba(140, 99, 216, 0.2); 
  backdrop-filter: blur(20px);
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 700px;
  width: 120rem;
  height: 25rem;
  margin: 20px auto;
  transition: transform 0.7s ease, box-shadow 0.4s ease;
  border: 3px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

.card:hover {
  transform: translateZ(20px) scale(1.15); 
  box-shadow: 0 15px 100px rgb(85, 2, 89);
}

.cardImageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.cardImg {
  width: 15rem;
  height: 18rem;
  border-radius: 10%;
  border: #333 2px solid;
  margin-bottom: 2rem;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(127, 0, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.socialIcon:hover {
  background: #7f00ff;
  border-color: #b19eef;
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 5px 15px rgba(127, 0, 255, 0.5);
}

.cardContent {
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; 
}

.cardBtn {
  padding: 10px 20px;
  border: none;
  background: #7f00ff;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cardBtn:hover {
  background: #b19eef;
}

/* Responsive */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  
  .cardImageSection {
    width: 100%;
  }
  
  .cardImg {
    border-radius: 30px 30px 0 0;
  }
  
  .cardContent {
    width: 100%;
  }
}